<div class="container">
    <main>
        <div class="contact">
            <h2 class="heading">Thông tin liên lạc</h2>
            <form class="checkout-form">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="fname">Họ</label>
                            </td>
                            <td>
                                <mat-form-field class="form-field" appearance="fill">
                                    <mat-label>Họ</mat-label>
                                    <input id="fname" name="fname" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lname">Tên</label>
                            </td>
                            <td>
                                <mat-form-field class="form-field" appearance="fill">
                                    <mat-label>Tên</mat-label>
                                    <input id="lname" name="lname" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Địa chỉ email</label>
                            </td>
                            <td>
                                <mat-form-field class="form-field" appearance="fill">
                                    <mat-label>Địa chỉ email</mat-label>
                                    <input id="email" name="email" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lname">Nội dung</label>
                            </td>
                            <td>
                                <mat-form-field class="form-field" appearance="fill">
                                    <mat-label>Nội dung</mat-label>
                                    <textarea matInput rows="10"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <label></label>
                    <input type="submit" id="contact" name="contact" value="Send">
                </div>
            </form>	
        </div>
    </main> <!-- Main Area -->
</div>