<footer>
    <div class="container">
        <div class="footer-widget">
            <div class="widget">
                <div class="widget-heading">
                    <h3>Đường dẫn quan trọng</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li><a href="about.html">Trang chủ</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                        <li><a href="refund.html">Chính sách hoàn tiền</a></li>
                        <li><a href="terms.html">Điều khoản và điều kiện</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget">
                <div class="widget-heading">
                    <h3>Thông tin</h3>
                </div>
                <div class="widget-content">
                    <ul>
                        <li><a href="account.html">Tài khoản của tôi</a></li>
                        <li><a href="orders.html">Đặt hàng của tôi</a></li>
                        <li><a href="cart.html">Giỏ hàng</a></li>
                        <li><a href="checkout.html">Thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget">
                <div class="widget-heading">
                    <h3>Theo dõi chúng tôi</h3>
                </div>
                <div class="widget-content">
                    <div class="follow">
                        <ul>
                            <li><a href="#"><img src="./assets/img/icons/facebook.png"></a></li>
                            <li><a href="#"><img src="./assets/img/icons/twitter.png"></a></li>
                            <li><a href="#"><img src="./assets/img/icons/instagram.png"></a></li>
                        </ul>
                    </div>						
                </div>
                <div class="widget-heading">
                    <h3>Đăng ký để nhận khuyến mãi</h3>
                </div>
                <div class="widget-content">
                    <div class="subscribe">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subscribe" placeholder="Email">
                                <img src="./assets/img/icons/paper_plane.png">
                            </div>
                        </form>
                    </div>						
                </div>
            </div>
        </div> <!-- Footer Widget -->
        <div class="footer-bar">
            <div class="copyright-text">
                <p>Copyright 2021 - All Rights Reserved</p>
            </div>
            <div class="payment-mode">
                <img src="./assets/img/icons/paper_money.png">
                <img src="./assets/img/icons/visa.png">
                <img src="./assets/img/icons/mastercard.png">
            </div>
        </div> <!-- Footer Bar -->
    </div>
</footer> <!-- Footer Area -->