.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}

.spinner {
  position: absolute;
  top: 35%;
  left: 50%;
  right: 50%;
}

.container {
  min-height: 75vh;
}

.btn-remove {
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 20px;

  &.long {
    width: 100%;
  }
}

::ng-deep .input-styling {
  height: 35px;
}

::ng-deep .input-styling input {
  width: 40px !important;
  text-align: center;
}

::ng-deep .input-styling button {
  width: 30px !important;
}

main .breadcrumb {
  padding: 10px 0;
  margin-bottom: 25px;
}
main .breadcrumb ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
main .breadcrumb ul li {
  padding: 0 10px;
}
main .breadcrumb ul li a {
  color: var(--darkStaleGray);
  text-decoration: none;
}
/* Content Section === Cart Page */
main .cart-page {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* Content main === Cart Page === Cart Items */
main .cart-page .cart-items {
  width: 70%;
}
main h2 {
  color: var(--gray);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
main .cart-page .cart-items table {
  width: 100%;
}
main .cart-page .cart-items table .qty {
  text-align: center;
  position: relative;
}

.change-qty-btn {
  width: 40px;
}

main .cart-page .cart-items tbody img {
  width: 100px;
  height: 80px;
  margin-right: 3px;
}
main .cart-page .cart-items table th {
  border-bottom: 1px solid rgba(236, 240, 241, 0.3);
  text-align: left;
  padding: 5px 0;
}
main .cart-page .cart-items table td {
  color: var(--gray);
  border-bottom: 1px solid rgba(236, 240, 241, 0.3);
  padding: 8px 0;
}
main .cart-page .cart-items table td a {
  color: var(--white);
  background-color: red;
  padding: 1px 7px;
  text-decoration: none;
  border-radius: 2px;
}
main .cart-page .cart-items table td a:hover {
  background-color: var(--red);
}

input.cartNumber::-webkit-outer-spin-button,
input.cartNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.cartNumber {
  width: 50px;
  height: 25px;
  position: absolute;
  padding: 0 5px;
  top: 20%;
  left: 23px;
}
div.prev {
  width: 30px;
  height: 25px;
  position: absolute;
  left: -10px;
  top: 20%;
  background-color: var(--darkStaleGray);
  color: var(--khaki);
  border-radius: 2px;
  padding-top: 4px;
  z-index: 1000;
  cursor: pointer;
}
div.next {
  width: 30px;
  height: 25px;
  position: absolute;
  right: -10px;
  top: 20%;
  background-color: var(--darkStaleGray);
  color: var(--khaki);
  border-radius: 2px;
  padding-top: 4px;
  z-index: 1000;
  cursor: pointer;
}
div.prev:hover,
div.next:hover {
  background-color: var(--khaki);
  color: var(--darkStaleGray);
}
/* Content Section === Cart Page === Cart Summary */
main .cart-summary {
  width: 25%;
  height: 220px;
  padding: 5px;
  border: 1px solid rgba(236, 240, 241, 0.3);
  margin-top: 28px;
}
main .cart-summary .checkout-total h3 {
  background-color: var(--darkStaleGray);
  color: var(--khaki);
  text-transform: uppercase;
  padding: 10px;
}
main .cart-summary .checkout-total ul {
  list-style: none;
  padding: 10px;
}
main .cart-summary .checkout-total ul li {
  margin-bottom: 10px;
}
main .cart-summary .checkout-total ul li a {
  background-color: var(--khaki);
  color: var(--darkStaleGray);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 5px 8px;
  margin-top: 20px;
  display: block;
}
main .cart-summary .checkout-total ul li a:hover {
  background-color: var(--red);
}
.pagination {
  margin-top: 20px;
}
