<div class="container">
    <main *ngIf="!dataLoading">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div> <!-- End of Breadcrumb-->

        <h2>Sản phẩm trong giỏ hàng</h2>
        <div class="cart-page">
            <div class="cart-items">					
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cart of carts">
                            <td style="width: 20%;"><img [src]="cart.product.imageBase64"></td>
                            <td style="width: 60%;">
                                <h2>{{cart.product.productName}}</h2>
                                <p>{{cart.product.productDescription}}</p>
                                <br>
                                <h3 style="color: red;">{{cart.product.price  | currency: 'VND': 'đ' }}</h3>
                                <br>
                                <button (click)="removeCart(cart.product.id)" mat-button class="btn-remove">Xoá</button> 
                            </td>
                            <td class="qty" style="width: 15%;">
                                <div>
                                    <p-inputNumber styleClass="input-styling" [(ngModel)]="cart.quantity"
                                        (onInput)="onChangeProductQuantity(cart)"
                                        [showButtons]="true" 
                                        buttonLayout="horizontal" 
                                        inputId="horizontal" 
                                        spinnerMode="horizontal" 
                                        [allowEmpty]="false" [min]="0"
                                        tabindex="-1"
                                        pInputNumber 
                                        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                                    </p-inputNumber>
                                </div>
                            </td>
                        </tr>
                        					
                    </tbody>	
                </table>
            </div>
            <div class="cart-summary">
                <div class="checkout-total">
                    <h3>Tóm tắt</h3>
                    <ul>
                        <li>Tổng số sản phẩm: {{carts.length}}</li>
                        <hr>
                        <li>Tạm tính: <span style="float: right;">{{totalMoney | currency: 'VND': 'đ'}}</span></li>
                        <li><button routerLink="/checkout" class="btn-remove long" mat-button href="checkout.html">Thanh toán</button></li>
                    </ul>
                </div>
            </div>
        </div>		
    </main> <!-- Main Area -->
</div>
<div class="progress-spinner" *ngIf="dataLoading || addCartLoading">
    <p-progressSpinner class="spinner"></p-progressSpinner>
  </div>