<div class="container">
    <main *ngIf="!dataLoading">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <!-- End of Breadcrumb-->

        <div class="single-product">
            <div class="images-section">
                <div class="larg-img">
                    <img src="{{ product.imageBase64 }}" />
                </div>
                </div>
            <!-- End of Images Section-->
            <div class="product-detail">
                <div class="product-name">
                    <h2>{{ product.productName }}</h2>
                </div>
                <div class="product-price">
                    <h3>{{ product.price | currency : 'VND' : 'đ' }}</h3>
                </div>
                <hr />
                <div class="product-description">
                    <p>{{ product.productDescription }}</p>
                </div>
                <hr />
                <div class="product-cart">
                    <div id="cart-form">
                        <div class="form-group">
                            <p-inputNumber
                                class="change-qty-btn"
                                [(ngModel)]="productQuant"
                                [showButtons]="true"
                                buttonLayout="horizontal"
                                inputId="horizontal"
                                spinnerMode="horizontal"
                                [allowEmpty]="false"
                                [min]="0"
                                decrementButtonClass="p-button-danger"
                                incrementButtonClass="p-button-success"
                                incrementButtonIcon="pi pi-plus"
                                decrementButtonIcon="pi pi-minus"
                            >
                            </p-inputNumber>
                        </div>
                    </div>

                    <div id="wishlist-form">
                        <div class="form-group" style="margin-bottom: 15px;">
                            <input type="checkbox" class="wishlist" name="wishlist" />Thêm vào yêu thích
                        </div>
                    </div>
                    
                    <p-button class="btn-add" [loading]="addCartLoading" (click)="addToCart(product.id) ">
                        <svg
                            class="btn-add-cart__svg"
                            focusable="false"
                            aria-hidden="true"
                            viewBox="0 0 24 24"
                            data-testid="AddShoppingCartIcon"
                            style="font-size: 16px; margin-right: 4px; vertical-align: text-bottom"
                        >
                        <path
                            d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"
                        >
                        </path>
                        </svg>
                        <span>Thêm vào giỏ hàng</span>
                    </p-button>
                </div>
                <hr />
                <div class="product-meta">
                    <p><b>Danh mục: </b>{{ product.productName }}</p>
                </div>
            </div>
            <!-- End of Product Detail-->
        </div>
        <hr />
        <div class="product-long-description">
            <h3>Mô tả sản phẩm</h3>
            <p>
                {{ product.productDescription }}
            </p>
            <p>
                {{ product.productDescription }}
            </p>
        </div>
        <hr />
        <div class="new-product-section">
            <div class="product-section-heading">
                <h3>CÓ THỂ BẠN CŨNG THÍCH</h3> 
            </div>
            <div class="product-content">
                <div class="product" *ngFor="let item of product.recommended">
                    <a [routerLink]="['/product', item.id]">
                        <img [src]="item.imageBase64" />
                    </a>
                    <div class="product-detail">
                        <h3>{{item.productName}}</h3>
                        <h2>{{item.productDescription}}</h2>
                        <div class="product-footer">
                            <button class="btn-add" mat-button (click)="addToCartWithOne(item.id)">
                                <svg
                                    class="btn-add-cart__svg"
                                    focusable="false"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    data-testid="AddShoppingCartIcon"
                                    style="font-size: 16px; margin-right: 4px; vertical-align: text-bottom"
                                >
                                <path
                                    d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"
                                >
                                </path>
                                </svg>
                                <span>Thêm vào giỏ hàng</span>
                            </button>
                            <p>{{item.price | currency: 'VND': 'đ' }}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Recommend Product Section -->
    </main>
    <!-- Main Area -->
</div>
<div class="progress-spinner" *ngIf="dataLoading || addCartLoading">
    <p-progressSpinner class="spinner"></p-progressSpinner>
  </div>
