<div class="container">
  <main *ngIf="!dataLoading">
    <div class="banner">
      <div class="carousel-wrapper">
        <div class="carousel">
          <ng-image-slider
            [imageSize]="{ width: '820px', height: '403px', space: 4 }"
            [infinite]="true"
            [autoSlide]="3"
            [showArrow]="true"
            [arrowKeyMove]="true"
            [images]="imgCollection"
            #nav
          ></ng-image-slider>
        </div>
        <div class="image-poster">
          <div>
            <img
              width="307px"
              src="assets/img/SmallBannerT7-02.png"
              alt="img1"
            />
          </div>
          <div>
            <img
              width="307px"
              src="assets/img/Tamlinh_mainbanner_T7_Smallbanner_310x210.png"
              alt="img1"
            />
          </div>
        </div>
      </div>
    </div>
    
    <div class="new-product-section">
      <div class="product-content">
        <div class="product" *ngFor="let product of products">
          <a [routerLink]="['/product', product.id]">
            <img [src]="product.imageBase64"/>
          </a>
          <div class="product-detail">
            <h3>{{product.productName}}</h3>
            <button mat-button class="btn-add" (click)="addToCart(product.id)">
              <svg
                  class="btn-add-cart__svg"
                  focusable="false"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  data-testid="AddShoppingCartIcon"
                  style="font-size: 16px; margin-right: 4px; vertical-align: text-bottom"
              >
              <path
                  d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"
              >
              </path>
              </svg>
              <span>Thêm vào giỏ hàng</span>
            </button>
            <p>{{product.price | currency: 'VND': 'đ' }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="new-product-section">
      <div class="product-section-heading">
        <h2>Sản phẩm đề xuất<img src="assets/img/icons/good_quality.png" /></h2>
        <h3>Những sản phẩm tốt nhất được đề xuất cho bạn</h3>
      </div>
      <div class="product-content">
        <div class="product" *ngFor="let item of recommendedProducts">
          <a  [routerLink]="['/product', item.id]">
            <img [src]="item.imageBase64" />
          </a>
          <div class="product-detail">
            <h3>{{item.productName}}</h3>
            <button class="btn-add" mat-button (click)="addToCart(item.id)">
              <svg
                  class="btn-add-cart__svg"
                  focusable="false"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  data-testid="AddShoppingCartIcon"
                  style="font-size: 16px; margin-right: 4px; vertical-align: text-bottom"
              >
              <path
                  d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"
              >
              </path>
              </svg>
              <span>Thêm vào giỏ hàng</span>
          </button>
            <p>{{item.price | currency: 'VND': 'đ' }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Recommend Product Section -->
  </main>
  
</div>
<div class="progress-spinner" *ngIf="dataLoading || addCartLoading">
  <p-progressSpinner class="spinner"></p-progressSpinner>
</div>


