
<div class="container">
    <main>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div> <!-- End of Breadcrumb-->

        <h2>Billing Detail</h2>
        <div class="checkout-page">
            <div class="billing-detail">					
                <form class="checkout-form">
                    
                    <h4>Shipping Detail</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field class="form-field" appearance="fill">
                                        <mat-label>Tên</mat-label>
                                        <input id="lname" name="lname" matInput>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="form-field" appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input id="lname" name="lname" matInput>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                               <td colspan="3">
                                    <mat-form-field class="form-field" appearance="fill">
                                        <mat-label>Company Name </mat-label>
                                        <input id="lname" name="lname" matInput>
                                    </mat-form-field>
                               </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Provinces</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let province of provices" [value]="province.code" >
                                            {{province.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>District</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let district of districts" [value]="district.code" >
                                            {{district.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ward</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let ward of wards" [value]="ward.code" >
                                            {{ward.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <mat-form-field class="form-field">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput rows="5"></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Contact Detail</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-form-field class="form-field" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input id="lname" name="lname" matInput>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="form-field" appearance="fill">
                                        <mat-label>Mobile</mat-label>
                                        <input id="lname" name="lname" matInput>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Additional Information (Optional)</h4>
                    <div class="form-group">
                        <mat-form-field class="form-field">
                            <mat-label>Note</mat-label>
                            <textarea matInput rows="5"></textarea>
                        </mat-form-field>
                    </div>	
                </form> <!-- End of Checkout Form -->				
            </div>
            <div class="order-summary">
                <div class="checkout-total">
                    <h3>Order Summary</h3>
                    <ul>
                        <li>Cart Amount: <span>1200</span></li>
                        <li>Delivery Charges: <span>100</span></li>
                        <li>Less: Discount @ 10%: <span>-13</span></li>
                        <hr>
                        <li>Total Amount: <span>1287</span></li>
                        <hr>
                        <mat-radio-group
                            class="payment-radio-group"
                            [(ngModel)]="favoriteSeason">
                            <mat-radio-button class="payment-radio-button" *ngFor="let season of seasons" [value]="season">
                                {{season}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <hr>
                        <li><input type="submit" name="order" value="Place Order"></li>
                    </ul>
                </div>
                
            </div>
        </div>		
    </main> <!-- Main Area -->
</div>