<header>
    <div id="header-wrapper" #header_parent>
        <div class="container">
            <div class="brand">
                <div class="logo">
                    <div>
                        <a href="index.html">
                            <img src="assets/img/logo-VPP-AIO-trang.png">
                            <div class="logo-text">
                                <p class="big-logo">Văn phòng phẩm</p>
                                <p class="small-logo">stationery</p>
                            </div>
                        </a>
                    </div>
                    <div class="search-bar">
                        <form>
                            <div class="form-group">
                                <input (input)="searchProduct($event)" type="text" class="form-control" name="search" placeholder="Tìm kiếm sản phẩm muốn mua">
                                <img src="./assets/img/icons/search.png">
                            </div>
                        </form>
                        <div class="dropdown-search" *ngIf="searchResult.length > 0">
                            <ul>
                                <div class='list-item scrollbar-custom'>
                                    <div class='wrapper' *ngFor="let product of searchResult">
                                       <div class="result" (click)="getProduct(product)">
                                            <div class='product-img'>
                                                <img class='img' [src]="product.imageBase64" />
                                            </div>
                                            <div class='description'>
                                                <p class='title'>{{product.productName}}</p>
                                                <p class='units'>ĐVT: {{product.calculationUnit}}</p>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div> <!-- logo -->
                <div class="shop-icon">
                    <div class="dropdown">
                        <ng-container *ngIf="cartInfo; else isHasCart">
                            <div class="action-wrapper" routerLink="/cart">
                                <i class="pi pi-shopping-cart icon-header"></i>
                                <span>
                                    Giỏ hàng ({{cartInfo.length}})
                                </span>
                            </div>
                        </ng-container>
                        <ng-template #isHasCart>
                            <div class="action-wrapper" routerLink="/login">
                                <i class="pi pi-shopping-cart icon-header"></i>
                                <span>
                                    Giỏ hàng
                                </span>
                            </div>
                        </ng-template>
                        <div class='cart-list' *ngIf="cartInfo">
                            <h5 class='cart-list-heading'>Sản phẩm đã thêm</h5>
                            <div class='list-item scrollbar-custom'>
                                <div class='wrapper' *ngFor="let cart of cartInfo">
                                    <div class='product-img'>
                                        <img class='img' [src]="cart.product.imageBase64" />
                                    </div>
                                    <div class='description'>
                                        <p class='title'>{{cart.product.productName}}</p>
                                        <p class='units'>ĐVT: {{cart.product.calculationUnit}}</p>
                                        <div class='details'>
                                            <p class='quantity'>x{{cart.quantity}}</p>
                                            <p class='price'>
                                                {{cart.product.price | currency: 'VND': 'đ' }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='cart-total'>
                                <span class='total-quantity'>
                                    Có tổng số <b>{{cartInfo.length}}</b> sản phẩm
                                </span>
                                <span>Tổng tiền: {{totalMoney | currency: 'VND': 'đ'}}</span>
                                <span class='total-money'></span>
                            </div>
                            <div class='cart-footer'>
                                <button routerLink="/cart" mat-button class="cart-btn">
                                    <span>Xem chi tiết</span>
                                </button>
                                <button routerLink="/checkout" mat-button class="cart-btn">
                                    <span>Thanh toán ngay</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="action-wrapper">
                            <ng-container *ngIf="!userInfo; else isUser" >
                                <div routerLink="/login" class="user-wrapper">
                                    <i class="pi pi-user icon-header"></i>
                                    <span >
                                        Tài khoản
                                    </span>
                                </div>
                            </ng-container>
                            <ng-template #isUser>
                                <div routerLink="/account" class="user-wrapper">
                                    <img [src]="userInfo.imageBase64" class="user-img">
                                    <span class="user-name">
                                        {{userInfo.firstName}} {{userInfo.lastName}}
                                    </span>
                                </div>
                                
                            </ng-template>

                            
                        </div>
                        <div class="dropdown-menu user">
                            <ul>
                                <li *ngIf="userInfo"><a routerLink="/account">Tài khoản của tôi</a></li>
                                <li *ngIf="!userInfo"><a routerLink="/login">Tài khoản của tôi</a></li>
                                <li *ngIf="userInfo"><a routerLink="/account/order">Đơn hàng của tôi</a></li>
                                <li *ngIf="!userInfo"><a routerLink="/login">Đơn hàng của tôi</a></li>

                                <li *ngIf="userInfo"><a routerLink="/admin" *ngIf="userInfo.permissionId == 1">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div> <!-- shop icons -->
            </div> <!-- brand -->
    
            
        </div> <!-- container -->
    </div> <!-- header -->
    
    <div class="navigation-bar">
        <div class="menu-bar">
            <div class="menu">
                <ul>
                    <li><a routerLink="/home">Trang chủ</a></li>
                    <li><a routerLink="/shop">Cửa hàng</a></li>
                    <li><a routerLink="/about">Thông tin</a></li>
                    <li><a routerLink="/contact">Liên hệ</a></li>
                </ul>
            </div>
            <div class="actions"> 
                <div class= "action-details">
                    <mat-icon> mail_outline</mat-icon>
                    <span>Tin tức cửa hàng</span>
                </div>
                <div class= "action-details">
                    <mat-icon>headset_mic</mat-icon>
                    <span>Tư vấn mua hàng</span>
                </div>
            </div>
        </div> <!-- menu -->
        
    </div>
</header>